.app-messages{
  position: relative;
  padding-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: lightslategrey;
}

.app-input{
  margin:20px 0;
}

.app-welcome{
  margin-top:20px;
  border:1px;
  background-color: bisque;
  color:black;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  padding-top: 10px;
}

.app-status{
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 1px 0;
}

.pull-right{
  float: right;
}

.from-me-container{
  border:1px solid aliceblue;
  border-radius: 5px;
  background-color: aliceblue;
  padding:5px;
  color:blue;
}

.from-others-container{
  border:1px solid lightgoldenrodyellow;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
  padding: 5px;
  color:black;
}

.text-center{
  text-align: center;
}